body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    position: absolute;
    color: aliceblue;
    margin: 0;
    width: 100vw;
    background-color: #52a38e;
    height: 100%;
    text-align: center;
}
.titulo{
    width: 100%;
    text-align: center;
}  

#miDiv{
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
  
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150%; background: #fff; overflow: hidden; }.datagrid table td, .datagrid table th { padding: 11px 20px; }.datagrid table tbody td { color: #000000; border-left: 1px solid #A6A6A6;font-size: 15px;border-bottom: 1px solid #A6A6A6;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

.button {
   border: 0px solid rgba(255,255,255,0.4);
   background: #71c4a4;
   padding: 10px 20px;
   color: #ffffff;
   font-size: 1.2em;
   font-family: Helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
    text-transform: uppercase;
   }
.button:hover {
   border: 0px solid rgba(255,255,255,0.4);
   background: #467965;
   color: #fff;
   }
.button:active {
   border: 0px solid rgba(255,255,255,0.4);
   background: #467965;
   color: #fff;
   }
.button:target {
   border: 0px solid rgba(255,255,255,0.4);
   background: #467965;
   color: #fff;
   }